doctype html
html
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-sacale=1")
	title= title
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/bootstrap-aux.css')
body
	div(class="container")
		nav(class="mastehead")
			h3(class="text-muted") Desafio
			include partials/menu
		block content

		include partials/footer

	script(src="/js/jquery.min.css")
	script(src="/js/bootstrap.min.js")