extends ../layout

block content
	h1 Categorias
	a(href="/categorias/create", class="btn btn-success") Cadastrar
	br
	br
	if lista.length > 0
		table(class="table table-striped")
			thead
				tr
					th ID:
					th Categoria:
			tbody
				each valor in lista
					tr
						td #{valor._id}
						td #{valor.categoria}
	else
		p Nenhum registro encontrado!